@font-face {
    font-family: ShineMonday;
    src: url(fonts/ShineMonday.otf);
}

@font-face {
    font-family: BiscuitGlitch;
    src: url(fonts/BiscuitGlitch.ttf);
}

*, *::before, *::after {
box-sizing: border-box;}

body {
    background-color: #FBF6D1;
    margin: 0;
}

header {
    background-image: url(FondAccueil.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 135vh;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    z-index: 1;
}

p {
    font-family: ShineMonday;
}

h1 {
    font-family: BiscuitGlitch;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}   

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px;
    background-color: #FBF6D1;
    width: max-content;
    padding-block: 15px;
    padding-inline: 25px;
    border: solid black 2px;
    margin-inline: auto;
    border-radius: 100px;
    margin-bottom:100px;
    font-family: BiscuitGlitch;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.75rem;
}


.texte-presentation{
    height: 70vh;
    font-size: 1.5rem;
    margin-top: 150px;
}
.conteneur-presentation{
    width: 75%;
    margin-inline: auto;
    display: flex;
    gap: 70px;
}
.conteneur-presentation img{
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    height: min-content;
}
.accroche {
    width: 900px;
    text-align: center;
    margin-inline: auto;
    margin-top: 100px;
    background-color: #FBF6D1;
    padding: 0px;
    padding-top: 7px;

    border-radius: 100px 100px 0px 0px;
}




.FondueVertHaut{
    background-image: url(TransitionsPages/TransitionVertHaut.svg);
    height: 91px;
}
.graphiquePoints{
    height: 100vh;
    background-color: #CBD7A8;
}
.FondueVertBas{
    background-image: url(TransitionsPages/TransitionVertBas.svg);
    height: 91px;
}



.conteneur-empile{
   background-color: #FBF6D1; 
    height: 100vh;
    padding-top: 30px

}
.conteneur-empile h1{
width: fit-content;
margin-left: auto;
margin-right: 50px;
margin-bottom: 100px;
}
.graphiqueEmpile{
    width: 90%;
    height: 500px;
    margin-inline: auto;
    }







.graphiqueCarte{
    height: 100vh;
    background-color: #E99EA8;
}
.graphiqueCarte h1{
    width: 60%;
    margin: 0;
    padding-top: 50px;
    margin-left: 50px;
}

#map {
    height: 700px;
    width: 70%;
    border-radius: 50px;
    border: black 1px solid;
    margin-left: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
}

.legendeCarte{
    width: 25%;
    margin-left: 20px;
    margin-top: 60px;
    background-color: #B4C6FF;
    border-radius: 30px;
    border: black 1px solid;
    padding: 15px;
    font-family: ShineMonday;
    font-size: 1.2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}   
.carteFlex{
    display: flex;
    width: 95%;
    margin-inline: auto;
}

.legendes{
    display: flex;
}
.leaflet-popup-content h1{
    margin: 0;
}

.FondueRoseHaut{
    background-image: url(TransitionsPages/TransitionRoseHaut.svg);
    height: 91px;
}
.FondueRoseBas{
    background-image: url(TransitionsPages/TransitionRoseBas.svg);
    height: 91px;
}


footer{
padding-bottom: 30px;
}
footer ul{
    list-style-type: none;
    font-family: 'BiscuitGlitch', Courier, monospace; 
font-size: 1.5rem;
margin: 0;
padding: 0;
width: max-content;
margin-left: auto;
margin-right: 50px;
}

footer ul li{
margin-top: 10px;
}

footer ul li a{
    text-decoration: none;
color: black;}
footer ul li a:hover{
text-decoration-line: underline;
color: blueviolet;}








    
        @media (max-width: 1200px) {
            .graphiqueCarte {
                padding-bottom:1000px;
            }
            .carteFlex {
                flex-direction: column;
                align-items: center;
            }
            #map{
                width: 90%;
                height: 500px;
            }
        .legendeCarte {
            width: 70%;
            margin: 20px 0 0 0;
            padding-left: 40px;
        }
        .graphiqueEmpile{
        width: 90%;
    }
        }


