@font-face {
    font-family: ShineMonday;
    src: url(fonts/ShineMonday.otf);
}

@font-face {
    font-family: BiscuitGlitch;
    src: url(fonts/BiscuitGlitch.ttf);
}

*, *::before, *::after {
box-sizing: border-box;}

body {
    background-color: #FBF6D1;
    margin: 0;
}

header {
    background-image: url(FondAccueil.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 135vh;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    z-index: 1;
}

p {
    font-family: ShineMonday;
}

h1 {
    font-family: BiscuitGlitch;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}   

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px;
    background-color: #FBF6D1;
    width: max-content;
    padding-block: 15px;
    padding-inline: 25px;
    border: solid black 2px;
    margin-inline: auto;
    border-radius: 100px;
    margin-bottom:100px;
    font-family: BiscuitGlitch;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.75rem;
}

.texte-presentation{
    height: 70vh;
    font-size: 1.5rem;
    margin-top: 150px;
}
.conteneur-presentation{
    width: 75%;
    margin-inline: auto;
    display: flex;
    gap: 70px;
}
.conteneur-presentation img{
    border-radius: 50px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.accroche {
    width: 900px;
    text-align: center;
    margin-inline: auto;
    margin-top: 100px;
    background-color: #FBF6D1;
    padding: 0px;
    border-radius: 100px;
}

.graphiqueCarte{
    height: 100Vh;
    background-color: #B4C6FF;
    display: flex;
padding-top: 100px;
}

#map {
    height: 700px;
    width: 70%;
    border-radius: 50px;
    border: white 5px solid;
    margin-left: 20px;
}

.legendeCarte{
    width: 25%;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 30px;
    border: black 3px solid;
    padding: 15px;
    font-family: ShineMonday;
    font-size: 1.2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}   

.legendes{
    display: flex;
}
.leaflet-popup-content h1{
    margin: 0;
}

.conteneur-empile{
    background-color: #b38c68;
}
.graphiqueEmpile{
    width: 50%;
    height: 500px;
    background-color: #FBF6D1;
    padding-right: 50px;
    }