@font-face {
    font-family: ShineMonday;
    src: url(fonts/ShineMonday.otf);
}

@font-face {
    font-family: BiscuitGlitch;
    src: url(fonts/BiscuitGlitch.ttf);
}

*, *::before, *::after {
box-sizing: border-box;}

body {
    background-color: #FBF6D1;
    margin: 0;
    overflow-x: hidden;
}

header {
    background-image: url(FondAccueil.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 140vh;
    padding-bottom: clamp(200px, 50vw, 350px);
}

p {
    font-family: ShineMonday, sans-serif;
}

h1 {
    font-family: BiscuitGlitch, sans-serif;
}

.logo {
    display: block;
    margin-inline: auto;
    max-width: 70vw;
    width: 100%;
    min-width: 350px;
}   

.labubu {
  position: absolute;
  width: 500px; 
  right: -80px;
  top: 450px;
}

.labubu .tete {
  width: 100%;
  display: block;
}

.oeil {
  position: absolute;
  width: 40px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.oeil-gauche {
  top: 180px;
  left: 183px;

}

.oeil-droit {
  top: 180px;
  right: 195px;

}

.pupille {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  transition: 0.05s linear;
}

/* Menu de navigation */
#presentation {
min-height: 90vh;
height: fit-content;
align-content: center;
}

.top-bar {
    padding-top: 70px;
}

.menu {
    display: flex;
    align-items: center;
    background: #FBF6D1;
    border: 2px solid #000;
    border-radius: 30px;
    width: fit-content;
    margin: auto;
    margin-bottom: 100px;
    padding: 10px 30px;
    font-family: 'BiscuitGlitch', sans-serif;
}

.menu-left,
.menu-right {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
    transition: 0.2s ease;
}

.menu a:hover {
    text-decoration-line: underline;
    color: #8f58b1;
}

.menu-logo {
    width: 140px;
    margin: 0 60px;
    position: relative;
}

.menu-logo::before {
    content: ""; /* rend visible le pseudo-élément */
    position: absolute;
    transform: translate(0, -65px); 
    width: 140px;
    height: 140px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #FBF6D1;
    background-image: url("LogoIcone.png");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

/* Présentation */
.texte-presentation{
    min-height: 75vh;
    font-size: 1.5rem;
    margin-top: 50px;
}

.conteneur-presentation{
    width: 80%;
    margin-inline: auto;    
    display: flex;
    gap: 70px;
}

.conteneur-presentation img{
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    height: min-content;
}

.accroche-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accroche {
    max-width: 800px;
    text-align: center;
    margin-inline: 40px;
    margin-top: 50px;
    background-color: #FBF6D1;
    padding-top: 7px;
    border-radius: 60px 60px 0 0;
    position: relative;
    padding-top: 20px;
    font-size: clamp(1rem, 1.35rem, 1.5rem);
    font-family: "ShineMonday";
    padding-inline: 30px;
}

.accroche::after {
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 90px;
    background-image: url("TransitionsPages/TransitionAccroche3.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}


/* Histoire des Labubus */



.conteneur_histoire{
display: flex;
    width: 80%;
    margin-inline: auto;
    font-size: 1.5rem;
gap: 40px;
}

.conteneur_histoire img{
    width: 35vw;
    min-width: 100%;

    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

    
}
.img_histoire{
    min-height: min-content;
    margin-inline: auto;
    width: min-content;
    margin-block: 100px;
    align-content:end;
}

/* Graphique Points */
.FondueVertHaut{
    background-image: url(TransitionsPages/TransitionVertHaut.svg);
    height: 91px;
}

.conteneur-points{
    background-color: #CBD7A8;
}

.graphiquePoints{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteneur-points h1 {
    margin: 0;
    padding-top: 15px;
    padding-left: 40px;
    font-size: 2.8rem;
}

.graphique {
    width: 95%;
    height: 80%;
}

.FondueVertBas{
    background-image: url(TransitionsPages/TransitionVertBas.svg);
    height: 91px;
}

/* Graphique Empilé */
.conteneur-empile{
    padding-top: 10px;
    text-align: right;
    position: relative;
    padding-bottom: clamp(140px, 11vw, 240px);
    min-height: 620px;
}

.conteneur-empile h1 {
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 2.8rem;
    padding-bottom: 50px;
}

.LabubuDecoEmpile {
    position: absolute;
    right: 100px;
    top: clamp(600px, 60vh, 650px);
    z-index: -1;
    transition: all 1s ease-in-out;
}

.graphiqueEmpile {
    width: 90%;
    height: 500px;
    margin-inline: auto;
}

/* Graphique Carte */
.graphiqueCarte {
    height: 110vh;
    background-color: #E99EA8;
}
.graphiqueCarte h1 {
    margin: 0;
    padding-top: 15px;
    margin-left: 40px;
    font-size: 2.8rem;
}

#map {
    height: 700px;
    width: 70%;
    border-radius: 30px;

    margin-left: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
}

.legendeCarte {
    width: 90%;
    margin-left: 20px;
    margin-top: 60px;
    background-color:#B4C6FF;
    border-radius: 30px;

    padding: 15px;
    font-family: ShineMonday;
    font-size: 1.2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.carteFlex { 
    display: flex;
    width: 95%;
    margin-inline: auto;
    align-items: stretch;
}

.columnLegendeCarte {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
    gap: clamp(100px, 8vh, 150px)
}

.labubuDecoCarte {
    height: auto;
    position:static;
}

.legendes {
    display: flex;
}
.legendes img{
    max-width: 60px;
    max-height: 63px;
}

.legendeCarte p {
    padding-left: 10px;
}

.leaflet-popup-content h1 {
    margin: 0;
}

.FondueRoseHaut {
    background-image: url(TransitionsPages/TransitionRoseHaut.svg);
    height: 91px;
}
.FondueRoseBas {
    background-image: url(TransitionsPages/TransitionRoseBas.svg);
    height: 91px;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px 30px 30px;
}

footer h1 {
    display: flex;
    align-items: center;
    font-family: 'BiscuitGlitch', Courier, monospace;
    font-size: 3.5rem;
    margin: 0;
    color: #000;
}

footer h1 img {
    width: 120px;
    height: auto;
    transform: translateY(-10px);
}

footer button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'BiscuitGlitch', Courier, monospace;
    font-size: 2rem;
    text-decoration: none;
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

footer button:hover {
    text-decoration-line: underline;
    color: #8f58b1;
}

footer ul {
    list-style-type: none;
    font-family: 'BiscuitGlitch', Courier, monospace; 
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    width: max-content;
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer ul li {
    margin-top: 10px;
}

footer ul li button {
    text-decoration: none;
    color: black;
}

footer ul li button:hover {
    text-decoration-line: underline;
    color: #8f58b1;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    z-index: 1000;
}

.popup-overlay.open {
    display: flex;
}

.popup-content {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 0 6px #FBF6D1, 0 0 0 12px #CBD7A8, 0 0 0 18px #E99EA8;
    padding: 40px 30px;
    width: 80%;
    position: relative;
    font-family: 'BiscuitGlitch', Courier, monospace;
}

.popup-content h2 {
    font-size: 2rem;
}

.popup-content p {
    font-size: 1.1rem;
    line-height: 1.4;
}

.popup-content button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.3rem;
    font-family: 'BiscuitGlitch', Courier, monospace;
    cursor: pointer;
    transition: 0,2s ease;
}

.popup-content button:hover {
    color: #8f58b1;
}


@media (max-width: 1300px) {
.conteneur_histoire{
    flex-direction:column-reverse;
}
.img_histoire{
        width: 100%;
        margin-bottom: 0;
        margin-top: 300px;
}
}


@media (max-width: 1300px) {


    .conteneur-presentation{
        flex-direction: column;
    }
    .conteneur-presentation img{
        width: 400px;
        margin-inline: auto;
    }

    .labubu{
        width: 300px;
    }
    .oeil{
        height: 35px;
        width: 25px;
    }
    .oeil-gauche{
        top: 105px;
        left: 110px;
    }

    .oeil-droit{
        top: 105px;
        right: 117px;
    }
.pupille{
    width: 15px;
    height: 25px;
}
  }

    
@media (max-width: 1200px) {
    .graphiqueCarte {
        padding-bottom:1000px;
        }
    .carteFlex {
        flex-direction: column;
        align-items: center;
        }
    #map{
        width: 90%;
        height: 500px;
        }
    .legendeCarte {
        width: 70%;
        margin:0;
        padding-inline: 40px;
        align-self: center;
    }
     .columnLegendeCarte{
        padding-top: 50px;
        flex-direction:row-reverse;
        width: 80%;
        gap: 0;
     }
     .labubuDecoCarte{
        width: 300px;
        height: 300px;
     }
}

@media (max-width: 1100px) {
    header {
        background-image: url(Phone-FondAccueil.svg);
        min-height: 101.5vh;
    }
}

@media (max-width: 1000px) {
        .graphiqueEmpile{
    width: 90%;
    }
.LabubuDecoEmpile{
    width: 100px;
    height: 140px;
    top: 150px;
   left: 60px;
   transform: scaleX(-1);
}
}

@media (max-width: 600px) {

.LabubuDecoEmpile{
    top: 280px;
    left: 40px;
}
}